<div class="app-container">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="menu-logo" fxLayout="row">
        <div>
          <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <a class="logo" mat-button routerLink="/">Grepha</a>
        </div>
      </div>
      <div class="cart">
        <span class="fill-remaining-space"></span>
        <a mat-button routerLink="/cart">
          <mat-icon>shopping_cart</mat-icon>
          <mat-badge
            [matBadge]="cartItems.length"
            matBadgeSize="small"
            matBadgeColor="accent"
          ></mat-badge>
        </a>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      class="mat-elevation-z8"
      #sidenav
      mode="side"
      [(opened)]="opened"
    >
      <button
        mat-button
        class="menu-button"
        routerLink="/"
        (click)="sidenav.close()"
      >
        <mat-icon>home</mat-icon>
        <span>Home</span></button
      ><br />
      <button
        mat-button
        class="menu-button"
        routerLink="/products"
        (click)="sidenav.close()"
      >
        <mat-icon>inventory_2</mat-icon>
        <span>Products</span></button
      ><br />
      <button
        mat-button
        class="menu-button"
        routerLink="/"
        (click)="sidenav.close()"
      >
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>

      <mat-divider></mat-divider>

      <button
        mat-button
        class="menu-button"
        routerLink="/"
        (click)="sidenav.close()"
      >
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
<div class="app-footer">
  <app-footer></app-footer>
</div>
