.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding-top: 7px;
}

.app-footer {
    margin-top: auto;
    padding: 10px;
}

mat-toolbar {
    background: #004a9f;
    color: white;
    display: block;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}


mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}